<h1 mat-dialog-title>{{ data ? 'Editar Alumno' : 'Nuevo Alumno' }}</h1>

<form [formGroup]="alumnoForm">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error *ngIf="alumnoForm.get('nombre')?.invalid && alumnoForm.get('nombre')?.touched">
        El nombre es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido" />
      <mat-error *ngIf="alumnoForm.get('apellido')?.invalid && alumnoForm.get('apellido')?.touched">
        El apellido es obligatorio
      </mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button [disabled]="alumnoForm.invalid" (click)="onSave()">Guardar</button>
  </div>
</form>