<h1 mat-dialog-title>{{ data ? 'Editar Curso' : 'Nuevo Curso' }}</h1>
<div mat-dialog-content>
  <form #cursoForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Nombre del curso</mat-label>
      <input matInput [(ngModel)]="curso.nombre" name="nombre" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <input matInput [(ngModel)]="curso.descripcion" name="descripcion" required />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" [disabled]="!cursoForm.form.valid" (click)="onSave()">Guardar</button>
</div>
